html,body{
	color:#0c0c50;
	/*background-image: linear-gradient(-225deg, #    E3FDF5 0%, #FFE6FA 100%);
*/
	margin:0;
	padding:0;
}
div{
	width:100%;
}

div tbody #content{
	border:1px dashed #ccc;
	width:100%;
	margin:0 auto;
	padding:0 10px;
	background-color:white;
}
@media only screen { 
#contenet{width:50%;}}
input[type="search"]::-webkit-search-cancel-button{
    display: none;
}
input{
	width:100%;
	padding:3px;
	font-size:1.1em;
}
